<div class="paging">
	{% if collection.previous %}
		{% capture prev %}{{ collection.current_page | minus:1 }}{% endcapture %}
		{% if prev == "1" %}
			<a href="/" class="previous">Previous</a>
		{% else %}
			<a href="/page-{{ prev }}" class="previous">Previous</a>
		{% endif %}
	{% endif %}
	<span>Showing items {{ collection.current_offset | plus: 1 }}-{% if collection.next %}{{ collection.current_offset | plus: collection.page_size }}{% else %}{{ collection.size }}{% endif %} of {{ collection.size }}</span>
	{% if collection.next %}
		<a href="/page-{{ collection.current_page | plus:1 }}" class="next">Next</a>
	{% endif %}
</div>